body{
 margin: 0; 
 box-sizing: border-box;
}
img{
 width: 100%;
}
.half-size {
  width: 50%;
}

/* top banner */
.hero-page{
 position: relative;
 height: 600px;
 top: 0;
 left: 0;
 margin: 0 auto;
 background-image: linear-gradient(to bottom, rgba(245, 246, 252,0), rgba(0,0,0,932)), url(images/donation9.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
.hero-page-title{
 position: absolute;
 top: 90px;
 left: 260px;
}
.hero-page-text h1{
 font-family: 'Inter', sans-serif;
 font-weight: 700;
 font-size: 65px;
 line-height: 79px;
 text-align: center;
 color: #FFFFFF;
}
.hero-page-text h3{
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-size: 18px;
 line-height: 28px;
 text-align: center;
 color: #FFFFFF;
 margin-bottom: 5%;
}
.hero-page-button a{
 text-decoration: none;
 font-family: 'Inter', sans-serif;
 font-weight: 600;
 font-size: 28px;
 color: #FFFFFF;
 background-color: #FF5959;
 padding: 16px 12px 16px 12px;
 border-radius: 5px;
 margin-left: 40%;
}
.hero-page-button a:hover{
 background-color: #fc3232;
}

/* donate today */
.donate-today-text h1{
 font-family: 'Inter', sans-serif;
 font-weight: 700;
 font-size: 45px;
 text-align: center;
}
.donate-today-text h3{
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-size: 18px;
 text-align: center;
}
.donate-today-amount{
 display:flex;
 align-items: center;
 justify-content: center;
}
.donate-today-amount h1{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  border: 2px solid #FF5959;
  border-radius: 5px;
  width: 136px;
  height:  123px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.donate-today-amount h1:hover{
 border: 2px solid #FF5959;
 background-color: #FF5959;
 color: white;
}
.donate-today-other-amount-text h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #B3B3B3;
}
.donate-today-other-amount-text p{
  position: relative;
  margin-bottom: 100px;
}
.donate-today-other-amount-text p:after{
  position: absolute;
  content:"";
  border-top: 1px solid grey;
  z-index: 1;
  height: 0.5em;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;


}
.donate-today-button a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
  background-color: #FF5959;
  padding: 16px 12px 16px 12px;
  border-radius: 5px;
  margin-left: 40%;
}

.donate-today-button a:hover {
  background-color: #fc3232;
}

/* Our Donate Plan */
.our-donate-plan-text{
  margin-top: 150px;
}
.our-donate-plan-text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}

.our-donate-plan-text h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

/* card */
.card{
  display: flex;
  margin: 70px;

}
.card1, .card2, .card3{
  border-radius: 10px;
  margin: 40px;
  padding: 40px;
}
.card1-icon img, .card2-icon img, .card3-icon img{
  width: 18%;
}
.card1-text, .card2-text, .card3-text{
  width: 80%;
}
.card1-text h1, .card2-text h1, .card3-text h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.card1-text h4, .card2-text h4, .card3-text h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.card1{
  background-color: rgba(79, 157, 166, 0.192);
}
.card2{
  background-color: rgb(255, 89, 89, 0.192);
}
.card3{
  background-color: rgba(255, 244, 214, 0.911);
}

/* news */
.news{
  margin: 20px;
}
.news1{
  display: flex;
}
.news1-text{
  padding: 100px;
}
.news1-text h1{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.news1-text h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #707070;
}
.news1-img img{
  width: 90%;
  padding: 130px 40px 40px 10px;
}

.news1-text a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
  background-color: #FF5959;
  padding: 16px 12px 16px 12px;
  border-radius: 5px;
}

.news1-text a:hover {
  background-color: #fc3232;
}

/* =========================================== */
.news2 {
  display: flex;
}

.news2-text {
  padding: 100px;
}

.news2-text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.news2-text h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #707070;
}

.news2-img img {
  width: 90%;
  padding: 130px 10px 40px 40px;
}

.news2-text a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
  background-color: #FF5959;
  padding: 16px 12px 16px 12px;
  border-radius: 5px;
}

.news2-text a:hover {
  background-color: #fc3232;
}